html {
  width: 100%;
  height: 100%;
}

body {
  @include font-size($base-font-size);

  line-height: $base-line-height;
  font-family: $base-font-family__serif--primary;
}

hgroup {
  margin-bottom: 2rem;
}

.section-block {
  padding-top: $base-section__padding;
  padding-bottom: $base-section__padding;
}
