///////////////////////////////
/// ANIMATION HELPERS
///////////////////////////////

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

@mixin slide($startVal, $endVal) {
  @include animation('slide 0.5s 1');

  @include keyframes(slide) {
    0% { height: $startVal; }
    100% { height: $endVal; }
  }
}

@mixin fade($startVal, $endVal) {
  @include animation('fade 0.5s 1');

  @include keyframes(fade) {
    0% { opacity: $startVal; }
    100% { opacity: $endVal; }
  }
}
