//////////////////
// PRIMARY
//////////////////

$black: #272727;
$red: #EF4646;
$white: #FFFFFF;
$grey: #646464;
$blue: #306CAB;
$green: #99cc33;
$yellow: #F9CE01;
$orange: #F38602;

//////////////////
// CUSTOM
//////////////////

$wild-sand: #F4F4F4;
$tundora: #4E4E4E;
